.grid3 {
  display: grid;
  grid-template-columns: 20% 1.5fr 2.5fr 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;

  .slide1-img5 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;
    z-index: 10;

    img {
      width: 100%
    }
  }

  .slide1-img6 {
    grid-column: 2/span 4;
    grid-row: 3/span 3;

    img {
      width: 100%
    }
  }

  .info {
    grid-column: 2/span 5;
    grid-row: 3/span 1;
    align-self: center;

    blockquote {
      color: #333;
      font-size: 1.2em;
      font-style: italic;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .title {
    grid-column: 3/span 5;
    grid-row: 5/span 1;
    align-self: center;

    h1 {
      font-family: "inter_extra_bold";
      font-size: 5em;
      // line-height: 0;
      padding: 0;
      margin: 0;

      span {
        color: black;
        -webkit-text-fill-color: rgba(186, 188, 194, 0);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
      }
    }
  }

  .cta {
    grid-column: 6 / span 1;
    grid-row: 4 / span 1;
  }
}



@include phone-320 {}

@include phone-668 {}

@include tab-768 {}

@include tab-1024 {
  .slide1-img5 {
    display: none;
  }

  .slide1-img6 {
    display: none;
  }
}

@include desk-1366 {}

@include desk-1536 {}

@include desk-1920 {}

@include desk-2560 {}