.visore {
  background: url("https://res.cloudinary.com/dgopscbkr/image/upload/v1536601855/Saatchi-test/visore.jpg")
    center center no-repeat;
  background-size: cover;
  height: 90vh;
  margin: 0;
  padding: 0;
  margin-top: -90px;
  position: relative;
  @include flex-box(flex, null, null, center, center);

  .visore__overlay {
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .visore__cta {
    text-align: center;

    .visore__title {
      font-family: "sky_reg";
      font-size: $xxl-size;
      color: $white-bg;
      letter-spacing: 0.4rem;
      margin-bottom: 2rem;
    }

    .visore__button--cta {
      border: none;
      font-family: "sky_reg";
      font-size: $m-size;
      color: $white-bg;
      background: transparent;
      padding: 1.5rem 3rem;
      border: 2px solid $white-bg;
      border-radius: 500px; // hacky // don't want to use math for something so small
      letter-spacing: 0.1rem;

      body.hasHover &:hover {
        cursor: pointer;
      }
    }
  }

  .visore__arrow-wrapper {
    background: $dark-grey;
    position: absolute;
    bottom: 0 - 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @include flex-box(flex, null, null, center, center);

    body.hasHover &:hover {
      cursor: pointer;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2),
        0 10px 20px 0 rgba(0, 0, 0, 0.3);
      transition: 0.2s ease-in-out;
    }

    .visore__arrow {
      width: 13px;
      height: 13px;
      margin-bottom: 6px;
      border-top: 2px solid $white-bg;
      border-left: 2px solid $white-bg;
      transform: rotate(-135deg);
    }
  }
}

/*
@
MEDIA QUERIES
@
*/

@include small-phone-media {
  .visore {
    background-position-x: right;
    height: 500px;

    .visore__cta {
      .visore__title {
        font-size: $l-size;
      }

      .visore__button--cta {
        font-size: $s-size;
        padding: 1rem 2rem;
      }
    }
  }
}

@include plus-phone-media {
  .visore {
    background-position-x: right;
    height: 530px;

    .visore__cta {
      .visore__title {
        font-size: $l-size;
      }

      .visore__button--cta {
        font-size: $s-size;
        padding: 1rem 2rem;
      }
    }
  }
}

@include tablet-media {
  .visore {
    background-position-x: right;
    height: 600px;
    @include flex-box(flex, null, null, flex-start, center);

    .visore__cta {
      text-align: inherit;
      padding-left: 50px;

      .visore__title {
        font-size: $super-xxl-size;
      }

      .visore__button--cta {
        font-size: $m-size;
        padding: 1.3rem 2.5rem;
      }
    }

    .visore__arrow-wrapper {
      left: 46%;
      right: 46%;
    }
  }
}

@include large-screen-media {
  .visore {
    .visore__cta {
      .visore__title {
        font-size: $super-xxl-size;
      }

      .visore__button--cta {
        padding: 1.8rem 3.2rem;
        font-size: $l-size;
      }
    }
  }
}

@include extra-large-screen-media {
  .visore {
    .visore__cta {
      .visore__title {
        font-size: $xxxl-size;
      }

      .visore__button--cta {
        padding: 2.8rem 4.2rem;
        font-size: $xl-size;
      }
    }

    .visore__arrow-wrapper {
      bottom: 0 - 50px;
      width: 100px;
      height: 100px;

      .visore__arrow {
        width: 33px;
        height: 33px;
        margin-bottom: 16px;
        border-top: 4px solid $white-bg;
        border-left: 4px solid $white-bg;
      }
    }
  }
}

/*
@
DEVICE SPECIFIC MEDIA QUERIES
@
*/

@include iphone-5(landscape) {
  .visore {
    height: 250px;

    .visore__cta {
      .visore__title {
        font-size: $l-size;
      }

      .visore__button--cta {
        font-size: $s-size;
        padding: 1rem 3rem;
      }
    }
  }
}

@include iphone-5(landscape) {
  .visore {
    height: 250px;

    .visore__cta {
      .visore__title {
        font-size: $l-size;
      }

      .visore__button--cta {
        font-size: $s-size;
        padding: 1rem 3rem;
      }
    }
  }
}

@include iphone-6-8(landscape) {
  .visore {
    height: 300px;

    .visore__cta {
      .visore__title {
        font-size: $l-size;
      }

      .visore__button--cta {
        font-size: $s-size;
        padding: 1rem 3rem;
      }
    }
  }
}

@include iphone-plus(landscape) {
  .visore {
    height: 350px;

    .visore__cta {
      .visore__title {
        font-size: $xl-size;
      }

      .visore__button--cta {
        font-size: $m-size;
        padding: 1.5rem 3rem;
      }
    }
  }
}

@include iphone-x(landscape) {
  .visore {
    height: 320px;

    .visore__cta {
      .visore__title {
        font-size: $xl-size;
      }

      .visore__button--cta {
        font-size: $s-size;
        padding: 1rem 3rem;
      }
    }
  }
}
