.swiper-container-free {
  height: 100vh;
  width: 100%;

  .swiper-wrapper {
    width: 70%;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: auto;
      overflow: visible;

      .about__title {
        font-family: "inter_extra_bold";
        color: white;
        padding-top: 5%;
      }

      .about {
        font-size: 20px;
        color: rgba(#fff, 0.7);
        // padding-top: 5%;
      }

      .tech {
        padding-top: 5%;

        span {
          font-family: "inter_extra_bold";
          color: white;
          font-size: 20px;
        }

        ul {
          list-style: none;
          padding-left: 10px;

          li {
            i {
              font-family: "inter_extra_bold";
              letter-spacing: 1px;
              // color: #fff;
            }

            color: rgba(#fff, 0.7);
            margin: 10px 0;
          }
        }

        // font-size: 28px;
      }

      .social {
        padding-top: 5%;
        width: 100%;

        ion-icon {
          color: rgba(#fff, 0.7);
          font-size: 35px;
          margin: 2% 1%;
          transition: 0.2s ease-in-out color;

          &:hover {
            color: white;
            transition: 0.2s ease-in-out color;
          }
        }
      }
    }
  }
}

.strip {
  width: 10%;
  background-color: rgba(0, 0, 0, 0.92);
  height: 0%;
  position: absolute;
  bottom: 0;

  &.active {
    height: 100%;
    transition: 0.4s;
  }
}