.swiper-button-disabled {
	transition: 250ms ease-in opacity;
}

.swiper-button-next {
	background-image: url("./media/images/next.png");
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	bottom: 10% !important;
	transform: rotate(90deg);
	left: 3% !important;
	top: unset !important;
}

.swiper-button-prev {
	background-image: url("./media/images/back.png");
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	top: 10% !important;
	transform: rotate(90deg);
	left: 3%;
	margin-top: unset !important;
}
