//////////////////////////////////////////
// font sizing
//////////////////////////////////////////
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.1rem;
$xxl-size: 4.8rem;
$super-xxl-size: 6.8rem;
$xxxl-size: 8.7rem;
//////////////////////////////////////////
// @ media
//////////////////////////////////////////
$small-phones-width: 320px;
$plus-phones-width: 414px;
$ipad-width: 768px;
$ipad-pro-width: 1024px;
//
$small-pc-width: 1366px;
$medium-pc-width: 1536px;
$x-large-pc-width: 1920px;
$xx-large-pc-width: 2560px;
//
$normal-phones-height: 568px;
$plus-phones-height: 736px;
$ipad-height: 1024px;
$ipad-pro-height: 1366px;
