@import "./colors";
@import "./typography";

body,
html {
  font-family: "inter_regular";
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}

* {
  outline: none;
}

:root {
  --ratio: 0.5;
  --reverse-ratio: 2;
  --container-width: 15vw;
  --container-height: 100vh;
  --font1-sizeVW: 20vh;
  --font2-sizeVW: 10vh;
  --font1-sizeVH: calc(var(--ratio) * 15vw);
}